.container {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100vh;
}

.cards-grid {
  margin: 3.5rem 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 2rem;
}
